.dialog1{
    margin-left: 400px;
    padding: 20px;
}

  button:hover {
    background-color: #0056b3; 
  }
  .sidenav-wrapper{
    position:absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  mat-sidenav{
   width: 200px;
   padding: 20px;
  }
  mat-sidenav-content{
    display: flex;
    justify-content: center;
  }
